body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #7d7e7d; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
}
#main {
  width: 100%;
  text-align: right;
  height: auto;
}
#frizider {
  position: relative;
  margin: 0 auto;
}
#heading {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 365px;
  height: 540px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  overflow: auto;
}
#heading > p {
  color: rgb(255, 254, 254);
  text-shadow: 5px 5px 5px black;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-align: left;
}

#openfridge {
  height: 980px;
  width: 100px;
  position: absolute;
  top: 200px;
  left: 385px;
  cursor: pointer;
}

#showrecipesmenu {
  display: flex;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 150px;
  align-items: center;
}
#showrecipesmenu:hover {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.411);
  transition: 0.3s;
  cursor: pointer;
}
#showrecipesmenu > img {
  height: 110px;
  margin: 20px;
  box-shadow: 5px 5px 10px black;
}
#showrecipesmenu > p {
  text-align: left;
  font-size: 25px;
  color: black;
  text-shadow: 1px 1px 40px black;
  padding: 10px;
}
#openfridge:hover {
  border: 3px solid rgb(173, 0, 0);
  background-color: rgba(255, 0, 0, 0.363);
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.1s;
}
#showrecipe > input {
  width: 450px;
  margin: 15px 25px;
  padding-top: 10px;
}
.select {
  color: white;
}
.notselect {
  color: darkgrey;
}
.hidden {
  display: none !important;
}
#spacer {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
#formregister {
  color: darkgrey;
}
/* FORM */
.plus {
  font-family: cursive;
  height: 45px;
  width: 45px;
  position: absolute;
  border: 2px dotted black;
  border-radius: 7px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: darkgray;
  line-height: 35px;
  box-shadow: 1px 1px black;
  text-shadow: 1px 1px black;
  box-sizing: content-box;
}
.plus > img {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}
.plus:hover {
  border: 3px solid black;
  color: black;
  cursor: pointer;
}
#plusmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1050px;
}
#choose {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 35px;
  color: white;
  text-shadow: 3px 3px 3px black;
}
#showrecipe {
  width: 49%;
  height: 1664px;
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: auto;
}
input[type="checkbox"] {
  display: none;
}
label {
  display: inline;
}

:checked + .shad {
  border: 5px solid rgba(255, 0, 0, 0.76);
  box-shadow: 0 0 20px red;
}
.hover:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 7px red;
}
.shad {
  box-shadow: 0 0 20px -5px rgba(0, 255, 0, 0.473);
}
.shad > img {
  background-color: white;
}

#searching {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#imhungry {
  position: absolute;
  width: 15%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 50px;
  line-height: 40px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border: 2px solid maroon;
  box-shadow: 0 0 10px maroon;
}
#getrecipe {
  position: absolute;
  width: 18%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 50px;
  line-height: 250%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border: 2px solid maroon;
  box-shadow: 0 0 10px maroon;
}
#imhungry:hover,
#getrecipe:hover {
  background-color: black;
  border: 3px solid red;
  box-shadow: 0 0 15px red;
  cursor: pointer;
  color: red;
}
#items {
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.726);
  position: absolute;
  text-align: center;
  overflow: auto;
  border: 1px solid rgb(0, 0, 0);
}
#searchdiv {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
}
#searchdiv > button {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  width: 15%;
}
#searchdiv > button:hover {
  color: black;
  background-color: rgb(235, 235, 235);
  border: 2px solid black;
  cursor: pointer;
}
#searchgroceries {
  width: 85%;
  padding: 5px;
  text-align: center;
  border: 2px solid black;
  margin-right: 5px;
  height: 40px;
}

#groceries > * {
  display: flex;
  justify-content: space-evenly;
}
#groceries > #food {
  border-top: 1px solid black;
  height: 60px;
  padding: 7px;
}
.searchp {
  text-align: center;
  width: 100%;

  line-height: 200%;
}

#food > img {
  width: 50px;
}
#food:hover {
  background-color: rgba(169, 169, 169, 0.616);
  cursor: pointer;
}
#error {
  color: red;
  padding-bottom: 10px;
}
#form {
  position: absolute;
  top: 50px;
  right: 50px;
}
#logoutfridge {
  height: 40px;
  width: 24%;
  position: absolute;
  top: 80px;
  left: 460px;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 5px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  border-top: 4px solid transparent;
}
#logoutfridge:hover {
  background-color: rgb(0, 0, 0);
  border: 4px solid maroon;
  cursor: pointer;
  color: red;
  box-shadow: 0 0 15px red;
}
.box {
  width: 440px;
  padding: 20px;
  text-align: center;
  background: #191919a8;
  border-radius: 30px;
}
.box a {
  color: white;
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}
.box a:hover {
  color: gray;
  cursor: pointer;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type="button"] {
  border: 0;
  background: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="button"]:hover {
  background: #2ecc71;
  cursor: pointer;
}
