body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #7d7e7d; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
}
#main {
  width: 100%;
  text-align: right;
  height: auto;
}
#fridgeclosed {
  width: 1000px;
}
#fridgeopen {
  width: 1000px;
}
#frizider {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}
#heading {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 365px;
  height: 540px;
  text-align: left;
  font-size: 20px;
  box-sizing: border-box;
  overflow: auto;
  

}
#heading > p{
  color: rgb(255, 254, 254);
  text-shadow: 5px 5px 5px black;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  
}

#openfridge {
  height: 980px;
  width: 100px;
  position: absolute;
  top: 200px;
  left: 385px;
  
}

#showrecipesmenu {
  display: flex;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  
}
#showrecipesmenu:hover{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.411);
  transition: 0.3s;
  cursor: pointer;
}
#showrecipesmenu > img{
 width: 120px;
 height: 120px;
 margin: 20px;
 box-shadow: 5px 5px 10px black;
}
#showrecipesmenu > p{
text-align: left;
font-size: 25px;
color: black;
text-shadow: 1px 1px 40px black;
padding:10px;
}
#openfridge:hover {
  border: 3px solid rgb(173, 0, 0);
  background-color: rgba(255, 0, 0, 0.363);
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.1s;
  
}
#showrecipe > input{
  width: 450px;
  margin: 15px 25px;
  padding-top: 10px;

}
.select {
  color: white;
}
.notselect {
  color: darkgrey;
}
.hidden {
  display: none !important;
}
#spacer {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
#formregister {
  color: darkgrey;
}
/* FORM */
.plus {
  font-family: cursive;
  height: 45px;
  width: 45px;
  position: absolute;
  border: 2px dotted black;
  border-radius: 7px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: darkgray;
  line-height: 35px;
  box-shadow: 1px 1px black;
  text-shadow: 1px 1px black;
  
}
.plus:hover {
  border: 3px solid black;
  color: black;
  cursor: pointer;
}
#plusmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1050px;
  
}
#choose{
  width: 500px;
  height: 50px;
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: white;
  line-height: 60px;
  text-shadow: 2px 2px 2px black;

}
#showrecipe{
  width: 490px;
  height: 1664px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: auto;
}
input[type=checkbox] {
  display: none;
}
label {
  display:inline;

}

:checked + label {
  border: 5px solid rgb(255, 0, 0);
  box-shadow: 0 0 5px red;
}
#imhungry {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.726);
  text-align: center;
  border-radius: 50px;
  line-height: 50px;
  color: red;
  font-weight: bolder;
  border: 2px solid red
}
#getrecipe{
  position: absolute;
  width: 170px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.726);
  text-align: center;
  border-radius: 50px;
  line-height: 60px;
  color: red;
  font-weight: bolder;
  border: 2px solid red
}
#imhungry:hover, #getrecipe:hover {
  background-color: black;
  border: 3px solid red;
}
#items {
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.726);
  position: absolute;
  text-align: center;
  overflow: auto;
  border: 1px solid black;

}
#searchgroceries {
  width: 200px;
  padding: 5px;
  margin: 10px;
}
#groceries > *{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-top: 5px;
}
#groceries > #food{
  border-top: 1px solid black;
}
#error {
  color: red;
  padding-bottom: 10px;
}
#form {
  position: absolute;
  top: 50px;
  right: 50px;
}
.box {
  width: 400px;
  padding: 20px;
  text-align: center;
  background: #191919a8;
  border-radius: 30px;
}
.box a {
  color: white;
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}
.box a:hover {
  color: gray;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type="button"] {
  border: 0;
  background: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="button"]:hover {
  background: #2ecc71;
}
